<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="../static/available_rooms.css">
    <title>Lista Pokoi</title>
</head>
<body>

<h1>Lista Pokoi</h1>

<table border="1">
    <thead>
    <tr>
        <th>Numer pokoju</th>
        <th>Liczba łóżek</th>
        <th>Cena</th>
        <th>Numer piętra</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}" th:if="${not room.isOccupied}">
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.beds}"></td>
        <td th:text="${room.price}"></td>
        <td th:text="${room.floorNumber}"></td>
        <td>
            <form th:action="@{/room/reserve}" method="post">
                <input type="hidden" name="roomId" th:value="${room.id}" />
                <button type="submit">Zarezerwuj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
