<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj pokój</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="/static/editGuest.css">
</head>
<body>
<div class="container">
    <h2>Edytuj pokój</h2>
    <form action="/room/update/{id}" method="post" th:action="@{'/room/update/' + ${room.id}}" th:object="${room}">
        <div class="form-group">
            <label for="roomNumber">Numer pokoju:</label>
            <input type="text" id="roomNumber" th:field="*{roomNumber}" placeholder="Numer pokoju">
            <span th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}"></span>
        </div>
        <div class="form-group">
            <label for="floorNumber">Numer piętra:</label>
            <input type="number" id="floorNumber" th:field="*{floorNumber}" placeholder="Numer piętra">
            <span th:if="${#fields.hasErrors('floorNumber')}" th:errors="*{floorNumber}"></span>
        </div>
        <div class="form-group">
            <label for="price">Cena:</label>
            <input type="number" id="price" th:field="*{price}" placeholder="Cena">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <div class="form-group">
            <label for="beds">Liczba łóżek:</label>
            <input type="number" id="beds" th:field="*{beds}" placeholder="Liczba łóżek">
            <span th:if="${#fields.hasErrors('beds')}" th:errors="*{beds}"></span>
        </div>
        <div class="form-group">
            <label for="beds">ID Gościa (0 dla null):</label>
            <input type="number" id="currentGuestId" th:field="*{currentGuestId}" placeholder="ID Gościa">
            <span th:if="${#fields.hasErrors('currentGuestId')}" th:errors="*{currentGuestId}"></span>
        </div>

        <div>
            <button type="submit">Zapisz</button>
        </div>
    </form>
</div>
</body>
</html>
