<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj osobę</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="/static/editGuest.css">
</head>
<body>
<div class="container">
    <h2>Edytuj osobę</h2>
    <form action="/user/update/{id}" method="post" th:action="@{'/user/update/' + ${user.id}}" th:object="${user}">
        <div>
            <input type="hidden" th:field="*{id}" />
        </div>
        <div>
            <label for="firstName">Imię:</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Imię">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div>
            <label for="lastName">Nazwisko:</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Nazwisko">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div>
            <label for="phoneNumber">Numer telefonu:</label>
            <input type="number" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Numer telefonu">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>
        <div>
            <button type="submit">Zapisz</button>
        </div>
    </form>
    <p th:if="${param.error}" style="color: red; margin-top: 10px;">Błąd podczas zapisywania.</p>
</div>
</body>
</html>
